body{
margin: 100;
padding: 0;
background-color: #252839;
text-align: center;
background-image: url('./bg.jpg');
background-repeat: no-repeat;
margin-left: 20px;
margin-top: 250px;
}
li{
display: flex;
}
form a{
display: inline-block;
text-decoration: none;
color: red;
margin-left: 145px;
margin-bottom: 40px;
margin-top: 250px;
border-bottom: 2px solid transparent;
transition: all .55s ease;
}
form a:hover{
outline-width: 100px;
border-bottom: 2px solid white;
transform: translateX(18px);
}
form{
background-color: ;
margin-right: 3px;
margin-bottom: 400px;
}
.sign a{
display: inline-block;
text-decoration: none;
color: white;
margin-left: 100px;
line-height: 20px;
margin-bottom: 40px;
align-items: center;
}
h{
color: white;
text-transform: uppercase;
font-size: 32px;
font-weight: 400px;
text-align: center;

}
h2{
text-align: center;
position: absolute;
font-size: 10vh;
color:#252839;
-webkit-text-stroke:0.3vw #383d52;
text-transform: uppercase;
text-align: center;
}
h2::before
{
content: attr(data-text);
position: absolute;
top:0;
left:0;
width: 0;
height: 100%;
color:#01fe87;
-webkit-text-stroke:0vw #383d52;
border-right: 2px solid #01fe87;
overflow: hidden;
animation: animate 3s linear infinite;
}
@keyframes animate {
0%,10%,100%
{
width: 0;
}
70%,90%
{
width: 100%;
}    
}
h3{
text-align: center;
position: absolute;
font-size: 8vh;
margin-top: 150px;
color:#252839;
-webkit-text-stroke:0.3vw #383d52;
text-transform: uppercase;
text-align: center;
}
h3::before
{
content: attr(data-text);
position: absolute;
top:0;
left:0;
width: 0;
height: 100%;
color:#01fe87;
-webkit-text-stroke:0vw #383d52;
border-right: 2px solid #01fe87;
overflow: hidden;
animation: animate 3s linear infinite;
}
@keyframes animate {
0%,10%,100%
{
width: 0;
}
70%,90%
{
width: 100%;
}    
}
h4{
text-align: center;
position: absolute;
font-size: 10vh;
margin-top: 150px;
color:#252839;
-webkit-text-stroke:0.3vw #383d52;
text-transform: uppercase;
text-align: center;
}
h4::before
{
content: attr(data-text);
position: absolute;
top:0;
left:0;
width: 0;
height: 100%;
color:#01fe87;
-webkit-text-stroke:0vw #383d52;
border-right: 2px solid #01fe87;
overflow: hidden;
animation: animate 3s linear infinite;
}
@keyframes animate {
0%,10%,100%
{
width: 0;
}
70%,90%
{
width: 100%;
}    
}
